<li>
  <%= link_to customer.name, customer %>
  <% if current_user.admin? && !current_user?(user) %>
      | <%= link_to "delete", customer, method: :delete,
                    data: { confirm: "You sure?" } %>
  <% end %>
</li>